@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

:root {
	--white: #F6F6F3;
	--black: #090808;
}

* {
	font-family: "Cascadia Mono", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;

	transition: 200ms ease-in-out;
}

h1 {
	margin: 0;
	font-size: 4em;
}

h2 {
	margin: 0;
	font-size: 2em;
}

h3 {
	margin: 0;
	font-size: 1.5em;
}

p {
	margin: 0;
}

body {
	background-color: var(--white);
	color: var(--black);


	--p: 48px;
	padding: var(--p);
	width: calc(100vw - var(--p));
	min-height: calc(100vh - var(--p));
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;


	--t: rgb(from var(--black) r g b / 0.2);
	background-size: 40px 40px;
	background-image:
		linear-gradient(to right, var(--t) 2px, transparent 2px),
		linear-gradient(to bottom, var(--t) 2px, transparent 2px);
}

@property --border-width {
	syntax: "<length>";
	initial-value: 1px;
	inherits: true;
}

.border {
	border: var(--border-width) solid var(--black);
}

.shadow {
	--w: var(--border-width);
	box-shadow: var(--w) var(--w) var(--black);

	&.interactive {
		--t: calc(var(--border-width) - var(--w));
		transform: translate(var(--t), var(--t));

		&:hover {
			--w: calc(var(--border-width) / 2);
		}

		&:active {
			--w: 0px;
		}
	}
}

button {
	--border-width: 4px;
	appearance: none;
}

body {
	container-type: size;
}

#dashboard {
	padding: 48px;
	background-color: var(--white);
	--border-width: 8px;

	display: grid;
	grid-template-columns: 1fr 1fr;

	gap: 24px;
}

@container (width < 850px) {
	#dashboard {
		grid-template-columns: 1fr;
	}
}


.date-panel {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;

	gap: 6px;

	.buttons {
		display: flex;
		gap: 18px;
	}
}
